.btn{
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    margin: 10px 0;
}
.btn-primary {
    background: rgb(13, 143, 41);        
}
.btn-second{
    background: mediumpurple;  
}
.text-primary{
    color: mediumpurple;
}
.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}